<!DOCTYPE html>
<html lang="en" ng-app="example">
<head>
    <meta charset="UTF-8">
    <title>Ng-next example</title>
</head>
<body ng-controller="ExampleController as exampleCtrl">
    <h1>{{ exampleCtrl.title }}</h1>
    <button ng-click="exampleCtrl.add()">Add</button>
    <button ng-click="exampleCtrl.remove()">Remove</button>
    <button ng-click="exampleCtrl.change()">Change</button>
    <h1 ng-repeat="string in exampleCtrl.list">{{ string }}</h1>
    <example text="H3ll0 W0rld"></example>
    <example1 text="H3ll0 W0rld"></example1>
    <example2 text="H3ll0 W0rld"></example2>
    <select ng-options="label for opt in exampleCtrl.options" ng-model="option">

    </select>

    <script src="dist/transpiled.js"></script>
</body>
</html>